/* CSS Reset section */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  margin-bottom: 1000px;
  line-height: 1;
}

.page-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 92px;
  left: 0;
  display: block;
  min-height: 800px;
  max-height: 1515px;
}

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 92px;
  left: 0;
  overflow: hidden;
  display: block;
  min-height: 800px;
  max-height: 1515px;
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 980px;
  height: 36px;
  margin: 18px auto;
  text-align: left;
  z-index: 9998;
  top: 100px;
  background: linear-gradient(rgb(128, 128, 128), rgb(112, 112, 112) 50%, rgb(94, 94, 94) 51%, rgb(129, 129, 129));
}

.product-links {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
  min-width: 860px;
  width: 100%;
  max-width: 1440px;
  height: 36px;
  text-align: center;
  list-style: none outside;
  padding: 0;
}

footer div div ul li {
  float: left;
  padding: 3px;
  border-right: 1px solid grey;
}

.product-links li {
  float: left;
  width: 105.633px;
  display: flex;
  padding-top: auto;
  padding-bottom: auto;
  border-right: 1px solid grey;
}

.product-links li a {
  width: 105.633px;
  height: 36px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-apple {
  font-size: 20px;
}

.searchbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 100%;
  background: linear-gradient(rgb(128, 128, 128), rgb(112, 112, 112) 50%, rgb(94, 94, 94) 51%, rgb(129, 129, 129));
}

form {
  height: 80%;
  width: 132px;
  float: right;
  border: 1px solid black;
  border-radius: 12px;
  margin-right: 15px;
}

form input {
  width: 100px;
  height: 100%;
  align-self: center;
  background: linear-gradient(rgb(128, 128, 128), rgb(112, 112, 112) 50%, rgb(94, 94, 94) 51%, rgb(129, 129, 129));
  float: right;
  margin-right: 10px;
  border: none;
}

.search-icon {
  position: absolute;
  height: 80%;
}

.material-icons {
  color: white;
}

.big-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 200px;
  left: 0;
  display: block;
  min-height: 600px;
  max-height: 1315px;
}

.billboard {
  right: auto;
  left: 50%;
  margin-left: -720px;
  width: 1440px;
  background: url(https://web.archive.org/web/20140301004302im_/http://images.apple.com/v/home/as/images/your_verse_hero.jpg) 50% 100% no-repeat;
  background-size: auto;
  background-size: 1440px 1315px;
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 600px;
}

header {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 60px;
  line-height: 60px;
}

header h2 {
  font-size: 32px;
  line-height: 32px;
}

header h3 {
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
}

.promo {
  position: absolute;
  z-index: 1;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 200px;
}

footer div div ul {
  list-style-type: none;
  display: inline-block;
  color: black;
}

.promo ul {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
  min-width: 1024px;
  width: 100%;
  max-width: 1440px;
  height: 200px;
  text-align: center;
  list-style: none outside;
  padding: 0;
}

.promo1 {
  background: url("images/promo_iphone5s.jpg") no-repeat;
}

.promo2 {
  background: url("images/promo_iphone5c.jpg") no-repeat;
}

.promo3 {
  background: url("images/promo_30_years.jpg") no-repeat;
}

.promo4 {
  background: url("images/promo_supplier_responsibility.jpg") no-repeat;
}

.promo ul li {
  position: relative;
  z-index: 1;
  float: left;
  margin: 0;
  width: 25%;
  height: 200px;
  padding: 0;
  top: 0;
}

.promo ul li a {
  width: 100%;
  height: 200px;
  padding: 0;
  top: 0;
}

footer {
  position: absolute;
  top: 101%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer div {
  width: 980px;
  display: grid;
  grid-template-columns: 50% 50%;
}

footer div div {
  font-size: 10px;
  display: flex;
  align-items: center;
}

#usa_logo_container {
  border-right: none;
}

#usa_logo {
  width: 20px;
  height: 20px;
}
